@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */

:root {
  /* Blue Theme (Default) */
  --color-primary: #3B82F6;    /* blue-500 */
  --color-primary-light: #60A5FA;  /* blue-400 */
  --color-primary-light2: #8abaf5;  /* blue-400 */
  --color-primary-dark: #2563EB;   /* blue-600 */
  
  --color-secondary: #9333EA;  /* purple-600 */
  --color-secondary-light: #A855F7;  /* purple-500 */
  --color-secondary-dark: #7E22CE;   /* purple-700 */
  
  --color-accent: #EAB308;     /* yellow-500 */
  --color-accent-light: #FACC15;  /* yellow-400 */
  --color-accent-dark: #CA8A04;   /* yellow-600 */
}

/* Red Theme */
.theme-red {
  --color-primary: #EF4444;    /* red-500 */
  --color-primary-light: #F87171;  /* red-400 */
  --color-primary-dark: #DC2626;   /* red-600 */
  
  --color-secondary: #EC4899;  /* pink-500 */
  --color-secondary-light: #F472B6;  /* pink-400 */
  --color-secondary-dark: #DB2777;   /* pink-600 */
  
  --color-accent: #F59E0B;     /* amber-500 */
  --color-accent-light: #FBBF24;  /* amber-400 */
  --color-accent-dark: #D97706;   /* amber-600 */
}

/* Green Theme */
.theme-green {
  --color-primary: #22C55E;    /* green-500 */
  --color-primary-light: #4ADE80;  /* green-400 */
  --color-primary-dark: #16A34A;   /* green-600 */
  
  --color-secondary: #06B6D4;  /* cyan-500 */
  --color-secondary-light: #22D3EE;  /* cyan-400 */
  --color-secondary-dark: #0891B2;   /* cyan-600 */
  
  --color-accent: #F97316;     /* orange-500 */
  --color-accent-light: #FB923C;  /* orange-400 */
  --color-accent-dark: #EA580C;   /* orange-600 */
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}


input[type=number] {
  -moz-appearance: textfield !important;
}